* {
    font-family: 'Righteous', cursive;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    background-color: #F3F3F3;
}

header, footer {
    height: 80px;
    width: 100%;
    padding: 15px 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    background-color: #FFFFFF;
}
header {
    top: 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
footer{
    bottom: 0px;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

img {
    height: 75px;
    width: 55px;
}
ion-icon {
    font-size: 40px;
}
footer ion-icon {
    font-size: 27px;
}

input {
    all: unset;
    box-sizing: border-box;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
}

main {
    padding-top: 105px;
    padding-bottom: 80px;
}

p {
    word-break: break-word;
    padding: 10px 5px;
    margin-top: 5px;

    background-color: #FFFFFF;
}
p span{
    font-weight: bold;
}
.hora {
    font-weight: normal;
    color: #AAAAAA;;
}

.status {
    background-color: #DCDCDC;
}
.private_message {
    background-color: #FFDEDE;
}